/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,700i,800,800i,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navbar {
    background  : #aecede;
    font-family : 'Montserrat', sans-serif;
    font-weight : 700;
    font-style  : italic;
}

#app {
    color       : #333;
    font-family : 'Open Sans', sans-serif;
}

.ios .page {
    background : #fff;
}

.page-content .volxbibel-content {
    padding   : 0 20px 50px;
    font-size : 17px;
}

.page-content .volxbibel-content h3 {
    font-size   : 23px;
    line-height : 28px;
    font-weight : 700;
    font-family : 'Montserrat', sans-serif;
}

.page-content > p:first-child {
    color       : #aecede;
    font-family : 'Montserrat', sans-serif;
    font-size   : 18px;
}

.list-headline {
    display        : inline-block;
    margin-bottom  : 5px;
    padding-left   : 20px;
    font-size      : 14px;
    color          : #9c9c9c;
    text-transform : uppercase;
}

.toolbar .link, .toolbar .link .icon {
    color : #333;
}

.spinner {
    position          : absolute;
    left              : calc(50% - 20px);
    bottom            : calc(50% - 20px);
    margin            : 30px auto;
    width             : 40px;
    height            : 40px;
    text-align        : center;
    -webkit-animation : sk-rotate 2.0s infinite linear;
    animation         : sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width             : 60%;
    height            : 60%;
    display           : inline-block;
    position          : absolute;
    top               : 0;
    background-color  : #f68e5d;
    border-radius     : 100%;

    -webkit-animation : sk-bounce 2.0s infinite ease-in-out;
    animation         : sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top                     : auto;
    bottom                  : 0;
    -webkit-animation-delay : -1.0s;
    animation-delay         : -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform : rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform         : rotate(360deg);
        -webkit-transform : rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform : scale(0.0)
    }
    50% {
        -webkit-transform : scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform         : scale(0.0);
        -webkit-transform : scale(0.0);
    }
    50% {
        transform         : scale(1.0);
        -webkit-transform : scale(1.0);
    }
}